<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Title</title>
</head>
<body>

<form th:action="@{/events/create}" th:method="post" th:object="${event}">
    Title:
    <input th:field="*{title}">
    Description:
    <textarea th:field="*{description}"></textarea>
    <button id="file">FILE</button>
    <input id="url" name="url" type="radio" checked value="">
    <button type="button">Submit</button>
</form>
</body>
<script th:src="@{/js/uploadImages}"></script>
</html>