<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <script type="text/javascript" th:src="@{/keys.js}"></script>
    <title>Title</title>
</head>
<body>
<nav th:replace="~{partials/partials :: navbar}"></nav>
<form th:action="@{/posts/create}" th:method="post" th:object="${post}">
    Title:
    <input th:field="*{title}"><br>
    Body:
    <textarea th:field="*{body}" cols="35" rows="5"></textarea><br>
    <button id="file">Upload Image</button>
    <input  id="url" name="url" type="radio" value="" checked="checked">
    <button>Submit</button>
</form>
<script src="//static.filestackapi.com/filestack-js/3.x.x/filestack.min.js"></script>
<script th:src="@{/js/uploadFile.js}"></script>
</body>
</html>