<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Title</title>
</head>
<body>
    <form th:action="@{/location/create}" th:method="post" th:object="${location}">
        Name:
        <input th:field="*{name}" type="text">
        Address:
        <input th:field="*{address}" type="text">
        Description
        <textarea th:field="*{description}"></textarea>
        Rating:
        <input th:field="*{rating}" type="text">
        Latitude:
        <input th:field="*{latitude}" type="text">
        Longitude:
        <input th:field="*{longitude}" type="text">
        <button>Submit</button>
    </form>
</body>
</html>