<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Title</title>
</head>
<body>
<nav th:replace="~{partials/partials :: navbar}"></nav>
<form th:action="@{/review/{id}/edit}" th:method="post" th:object="${review}">
    <input th:field="*{id}" type="checkbox" th:value="*{id}" checked hidden="hidden">
    <input th:field="*{comment}">
    <input th:field="*{rating}" type="radio" th:value="1">
    <input th:field="*{rating}" type="radio" th:value="2">
    <input th:field="*{rating}" type="radio" th:value="3">
    <input th:field="*{rating}" type="radio" th:value="4">
    <input th:field="*{rating}" type="radio" th:value="5">
    <button>Submit</button>
</form>
<form th:action="@{/review/{id}/delete(id=${review.id})}" th:method="post">
    <button>Delete</button>
</form>
</body>
</html>