<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Wagster | Edit Review</title>
    <link rel="apple-touch-icon" sizes="180x180" th:href="@{/img/apple-touch-icon.png}">
    <link rel="icon" type="image/png" sizes="32x32" th:href="@{/img/favicon-32x32.png}">
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/img/favicon-16x16.png}">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
<form th:action="@{/review/{id}/edit}" th:method="post" th:object="${review}">
    <input th:field="*{id}" type="checkbox" th:value="*{id}" checked hidden="hidden">
    <input th:field="*{comment}">
    <input th:field="*{rating}" type="radio" th:value="1">
    <input th:field="*{rating}" type="radio" th:value="2">
    <input th:field="*{rating}" type="radio" th:value="3">
    <input th:field="*{rating}" type="radio" th:value="4">
    <input th:field="*{rating}" type="radio" th:value="5">
    <button>Submit</button>
</form>
<form th:action="@{/review/{id}/delete(id=${review.id})}" th:method="post">
    <button>Delete</button>
</form>
</body>
</html>