<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link th:href="@{/css/main.css}" rel="stylesheet">
</head>
<body>
<nav th:replace="~{partials/partials :: navbar}"></nav>
<h1 th:replace="~{partials/profilePartials :: profileBanner (${user.username})}"></h1>
<!--<h1 th:replace="~{partials/profilePartials :: profileBanner (${user})}"></h1>-->

<h1 style="text-align: center">Profile page</h1>

<img th:src="${user.getImageURL()}">
<th:block>
    <div th:each="people : ${usersList}">
        <div th:each="friend : ${friends}">
        <p th:text="${people.username}"></p>
        <form th:action="@{/friend/add}" th:method="post">
            <input type="radio" checked th:value="${people.username}" name="user">
            <button id="">Add Friend</button>
        </form>
        <form th:action="@{/friend/remove}" method="post" th:if="${friend.getFriend().id == people.id}">
            <input type="radio" checked th:value="${friend.id}" name="friend">
            <button>Remove Friend</button>
        </form>
        </div>
    </div>
</th:block>
<p>test</p>
<button onclick="window.location.href='profile/edit'">Edit Profile</button>
<button onclick="window.location.href='profile/delete'">Delete Profile</button>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous">
</script>
<script>
    let button = document.querySelector('')
</script>
</body>
</html>
