.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}
.card {
    margin: .5em 18em; /* Add horizontal margins */
    color: black;
    position: relative;
    z-index: 1;
    /*border-radius: 1%;*/
    border: 3px solid transparent;
    box-shadow: 1.3rem 1.3rem 1.3rem rgba(0, 0, 0, 0.5);
    border-top-color: rgba(225, 225, 225, 0.5);
    border-left-color: rgba(225, 225, 225, 0.5);
    border-bottom-color: rgba(225, 225, 225, 0.1);
    border-right-color: rgba(225, 225, 225, 0.1);
    background: linear-gradient(to right bottom, rgba(225, 225, 225, 0.5), rgba(225, 225, 225, 0.3));
}

.profile-pic {
    height: 80px;
    margin-right: 10px;
}

.filterBtns {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.createBtns {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.feedBtn {
    color: #000;
    font-weight: bolder;
    transition: all 0.5s;
    position: relative;
    line-height: 50px;
    height: 50px;
    text-align: center;
    width: calc(100% / 3); /* Divide the width equally among 3 buttons */
    cursor: pointer;
    background-color: #ffe66d;
    border-radius: 20px;
}

.createBtn {
    color: #000;
    font-weight: bolder;
    transition: all 0.5s;
    position: relative;
    line-height: 50px;
    height: 50px;
    text-align: center;
    width: calc(100% / 2); /* Divide the width equally among 2 buttons */
    cursor: pointer;
    background-color: #ffe66d;
    border-radius: 20px;
}

input[type="radio"]:checked{
    visibility:hidden;
}
