*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #242423;
    color: #ffffff;
}

#profileNav:hover {
    color: #ffe66d
}

#feedNav:hover {
    color: #ffe66d
}

#mapNav:hover {
    color: #ffe66d
}
.registration-form{
    display: flex;
    margin: 0 auto;
    width: 45%;
    background-color: #454447;
    border: 3px solid #313333;
    padding: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

