#map {
    margin-top: 1%;
    height: 80vh;
    width: 66%;
    float: right;
    margin-right: 2%;
    border-radius: 2%;
}

#cards-container {
    margin-top: 1%;
    height: 80vh;
    width: 30%;
    overflow-y: scroll;
    overflow-x: hidden;
    float: left;
    padding: 10px;
}

.card {
    color: black;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid transparent;
    /*box-shadow: 1.3rem 1.3rem 1.3rem rgba(0, 0, 0, 0.5);*/
    border-top-color: rgba(225, 225, 225, 0.5);
    border-left-color: rgba(225, 225, 225, 0.5);
    border-bottom-color: rgba(225, 225, 225, 0.1);
    border-right-color: rgba(225, 225, 225, 0.1);
    background: linear-gradient(to right bottom, rgba(225, 225, 225, 0.5), rgba(225, 225, 225, 0.3));
}

.button-container {
    display: flex;
    justify-content: flex-end;
}

.popup-container {
    color: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.popup {
    background-color: #ffe66d;
    padding: 20px;
    border-radius: 5px;
    width: 60%;
    max-width: 600px;
    margin: 20vh auto;
}

.close-button {
    margin-top: 10px;
}

#mapNav{
    color: #ffe66d;
}

.search-bar {
    width: 65%;
    margin-left: 2.2%;
    padding: 10px;
    border-radius: 30px;
    /*margin-bottom: 10px;*/
    box-sizing: border-box;
}

.details-button {
    color: #000;
    font-weight: bolder;
    transition: all 0.5s;
    position: relative;
    line-height: 50px;
    height: 50px;
    text-align: center;
    width: 10em;
    cursor: pointer;
    background-color: #ffe66d;
    border-radius: 20px;
}

.close-button {
    color: #000;
    font-weight: bolder;
    transition: all 0.5s;
    position: relative;
    line-height: 50px;
    height: 50px;
    text-align: center;
    width: 10em;
    cursor: pointer;
    background-color: red;
    border-radius: 20px;
}

.review-button {
    color: #000;
    font-weight: bolder;
    transition: all 0.5s;
    position: relative;
    line-height: 50px;
    height: 50px;
    text-align: center;
    width: 10em;
    cursor: pointer;
    background-color: white;
    border-radius: 20px;
}
.details-button .review-button .close-button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(255,255,255,0.1);
    transition: all 0.3s;
    border-radius: 20px;

}
.details-button .review-button .close-button:hover::before {
    opacity: 0 ;
    transform: scale(0.5,0.5);
    border-radius: 20px;

}
.details-button .review-button .close-button::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border: 1px solid rgba(255,255,255,0.5);
    transform: scale(1.2,1.2);
    border-radius: 20px;

}
.details-button .review-button .close-button:hover::after {
    opacity: 1;
    transform: scale(1,1);
    border-radius: 20px;
}

.profile-pic{
    margin-top:2%;
    width: 15%;
    border-radius: 50%;
    margin-right: 10px;
}

.review {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.username {
    font-weight: bold;
    margin: 0;
}

.comment {
    margin: 0;
}
