#profileNav{
    color: #ffe66d;
}
.profileBtn {
    color: #000;
    font-weight: bolder;
    transition: all 0.5s;
    position: relative;
    line-height: 50px;
    height: 50px;
    text-align: center;
    width: 20%;
    cursor: pointer;
    background-color: #ffe66d;
    border-radius: 20px;
}

.editBtn {
    color: #000;
    font-weight: bolder;
    transition: all 0.5s;
    position: relative;
    line-height: 50px;
    height: 50px;
    text-align: center;
    width: 20%;
    cursor: pointer;
    background-color: #ffe66d;
    border-radius: 20px;
}

.deleteBtn {
    color: #000;
    font-weight: bolder;
    transition: all 0.5s;
    position: relative;
    line-height: 50px;
    height: 50px;
    text-align: center;
    width: 20%;
    cursor: pointer;
    background-color: red;
    border-radius: 20px;
}

h1{
    margin-left: 2%;
}

#settingsMenu {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #fff;
    border: 1px solid transparent;
    border-top-color: rgba(225, 225, 225, 0.5);
    border-left-color: rgba(225, 225, 225, 0.5);
    border-bottom-color: rgba(225, 225, 225, 0.1);
    border-right-color: rgba(225, 225, 225, 0.1);
    background: linear-gradient(to right bottom, rgba(225, 225, 225, 0.5), rgba(225, 225, 225, 0.3));
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    width: 300px;
    border-radius: 10px;
    z-index: 2; /* Add this line to bring the toggle popup to the front */
}

#settingsMenu button {
    display: block;
    width: 100%;
    padding: 8px 12px;
    margin-bottom: 5px;
    text-align: center;
    /*font-weight: bold;*/
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

body {
    background-image: url('/static/img/logoWallpaper.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.card-content {
    display: flex;
    align-items: center;
}

.profile-pic {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 10px;
}

.username {
    font-weight: bolder;
    font-size: 1.7rem;
    margin-top: 46px;
}

h5{
    margin-top: 20px;
    margin-left: 80px;
}

.card-text{
    margin-left: 80px;
}

.event-pic {
    max-width: 800px;
    max-height: 800px;
    border-radius: 20px;
    margin: 0 auto;
    display: block;
    margin-top: auto;
    margin-bottom: 10px;
}

.edit-delete-btns {
    display: none;
}

.toggle-icon:hover + .edit-delete-btns,
.edit-delete-btns:hover {
    display: flex;
}

.toggle-icon {
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
}

.edit-delete-btns {
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
}

.card {
    position: relative;
}

body{
    background-image: url('/img/logoWallpaper.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}