body {
    background-color: #242423;
}

/*.container {*/
/*    text-align: center;*/
/*    background-color: #f9f9f9;*/
/*    padding: 20px;*/
/*    border-radius: 5px;*/
/*    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);*/
/*}*/

.registration-form {
    margin: 0 auto;
    margin-top: 10%;
    max-width: 400px;
    border: 1px solid transparent;
    box-shadow: 1.3rem 1.3rem 1.3rem rgba(0, 0, 0, 0.5);
    border-top-color: rgba(225, 225, 225, 0.5);
    border-left-color: rgba(225, 225, 225, 0.5);
    border-bottom-color: rgba(225, 225, 225, 0.1);
    border-right-color: rgba(225, 225, 225, 0.1);
    background: linear-gradient(to right bottom, rgba(225, 225, 225, 0.5), rgba(225, 225, 225, 0.3));
}

.registration-form label,
.registration-form input,
.registration-form button,
.registration-form p {
    margin-bottom: 10px;
}

.registration-form input[type="text"],
.registration-form input[type="email"],
.registration-form input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.registration-form button[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 3px;
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
}

.registration-form button[type="submit"]:hover {
    background-color: #45a049;
}

.registration-form p {
    margin: 0;
}

.registration-form a {
    color: #007bff;
    text-decoration: none;
}

.navbar{
    border-radius: 1%;
    border: 1px solid transparent;
    /*box-shadow: 1.3rem 1.3rem 1.3rem rgba(0, 0, 0, 0.5);*/
    border-top-color: rgba(225, 225, 225, 0.5);
    border-left-color: rgba(225, 225, 225, 0.5);
    border-bottom-color: rgba(225, 225, 225, 0.1);
    border-right-color: rgba(225, 225, 225, 0.1);
    background: linear-gradient(to right bottom, rgba(225, 225, 225, 0.5), rgba(225, 225, 225, 0.3));
    max-height: 3em;
}

#profileNav:hover {
    color: #ffe66d
}

#feedNav:hover {
    color: #ffe66d
}

#mapNav:hover {
    color: #ffe66d
}
